@mixin alert() {
	position: relative;
	padding: 0.75rem 1.25rem;
	border-radius: $smBorderRadius;
	background-color: $bgCard;
	color: $subFont;
	line-height: 1.5;
}

@mixin alertPigmentOptions($options: $pigments) {
	$pigmentKeys: map-keys($options);
	@each $key in $pigmentKeys {
		$name: map-deep-get($options, $key, "name");
		$bgColor: map-deep-get($options, $key, "bgColor");
		$fontColor: map-deep-get($options, $key, "fontColor");
		&.dui__alert--#{$name} {
			background-color: $bgColor;
			color: $fontColor;
		}
	}
}

.dui__alert {
	@include alert();
	@include alertPigmentOptions();
	&--contrast {
		@include alertPigmentOptions($contrastPigments);
	}
	&--dismissible {
		display: flex;
		align-items: flex-start;
		.dui__alert__title {
			flex: 1;
		}
	}
	&--rounded {
		border-radius: $xlBorderRadius;
	}
	&--flat {
		border-radius: $flatBorderRadius;
	}
}
