@mixin alert() {
	position: relative;
	padding: 0.75rem;
	border-radius: $smBorderRadius;
	background-color: $bgCard;
	color: $subFont;
	line-height: 1.5;
	&__icon {
		flex: 0 0 1rem;
		height: 1.5em;
		width: 1.3em;
		margin-right: 0.625rem;
	}
	&:focus {
		outline: none;
	}
	&:focus-visible {
		outline: auto;
	}
}

@mixin alertPigmentOptions($options: $pigments) {
	$pigmentKeys: map-keys($options);
	@each $key in $pigmentKeys {
		$name: map-deep-get($options, $key, "name");
		$bgColor: map-deep-get($options, $key, "bgColor");
		$fontColor: map-deep-get($options, $key, "fontColor");
		&.dui__alert--#{$name} {
			background-color: $bgColor;
			color: $fontColor;
			&:focus-visible {
				outline: none;
				box-shadow: 0 0 0 0.25rem rgba($bgColor, 0.5), 0 0 0 0.1rem rgba($fontColor, 0.25);
			}
		}
	}
}

.dui__alert {
	@include alert();
	@include alertPigmentOptions();
	&--contrast {
		@include alertPigmentOptions($contrastPigments);
	}
	&--flex {
		display: flex;
		align-items: flex-start;
		.dui__alert__title {
			flex: 1;
		}
	}
	&--rounded {
		border-radius: $xlBorderRadius;
	}
	&--flat {
		border-radius: $flatBorderRadius;
	}
}
