@mixin fadePortalAnim() {
	&-enter {
		opacity: 0;
		.dui__portal__inner {
			opacity: 0;
			transform: translateY(-5rem);
		}
	}
	&-enter-active {
		transition: $fastTrans;
		opacity: 1;
		.dui__portal__inner {
			transition-delay: $fastTransTime;
			transition: $fastTrans;
			opacity: 1;
			transform: translateY(0);
		}
	}
	&-exit {
		opacity: 1;
		.dui__portal__inner {
			opacity: 1;
			transform: translateY(0);
		}
	}
	&-exit-active {
		transition-delay: $fastTransTime;
		transition: $fastTrans;
		opacity: 0;
		.dui__portal__inner {
			transition: $fastTrans;
			opacity: 0;
			transform: translateY(-5rem);
		}
	}
}

@mixin zoomPortalAnim() {
	&-enter {
		opacity: 0;
		.dui__portal__inner {
			opacity: 0;
			transform: scale(0.5);
		}
	}
	&-enter-active {
		transition: $fastTrans;
		opacity: 1;
		.dui__portal__inner {
			transition-delay: $fastTransTime;
			transition: $fastTrans;
			opacity: 1;
			transform: scale(1);
		}
	}
	&-exit {
		opacity: 1;
		.dui__portal__inner {
			opacity: 1;
			transform: scale(1);
		}
	}
	&-exit-active {
		transition-delay: $fastTransTime;
		transition: $fastTrans;
		opacity: 0;
		.dui__portal__inner {
			transition: $fastTrans;
			opacity: 0;
			transform: scale(0.5);
		}
	}
}

.fade-portal {
	@include fadePortalAnim();
}

.zoom-portal {
	@include zoomPortalAnim();
}

.dui__anim {
	&--fade-portal {
		will-change: transform, opacity;
	}
	&--zoom-portal {
		will-change: transform, opacity;
	}
}
