@mixin fadeAnim() {
	&-enter {
		opacity: 0;
	}
	&-enter-active {
		transition: $normalTrans;
		@media (prefers-reduced-motion) {
			transition: none;
		}
		opacity: 1;
	}
	&-exit {
		opacity: 1;
	}
	&-exit-active {
		transition: $normalTrans;
		@media (prefers-reduced-motion) {
			transition: none;
		}
		opacity: 0;
	}
}

@mixin zoomAnim() {
	&-enter {
		opacity: 0;
		transform: scale(0.75);
	}
	&-enter-active {
		transition: $normalTrans;
		@media (prefers-reduced-motion) {
			transition: none;
		}
		opacity: 1;
		transform: scale(1);
	}
	&-exit {
		opacity: 1;
		transform: scale(1);
	}
	&-exit-active {
		transition: $normalTrans;
		@media (prefers-reduced-motion) {
			transition: none;
		}
		opacity: 0;
		transform: scale(0.75);
	}
}

@mixin fadePortalAnim() {
	&-enter {
		opacity: 0;
		.dui__portal__inner {
			opacity: 0;
			transform: translateY(-5rem);
		}
	}
	&-enter-active {
		transition: $fastTrans;
		@media (prefers-reduced-motion) {
			transition: none;
		}
		opacity: 1;
		.dui__portal__inner {
			transition-delay: $fastTransTime;
			transition: $fastTrans;
			@media (prefers-reduced-motion) {
				transition: none;
			}
			opacity: 1;
			transform: translateY(0);
		}
	}
	&-exit {
		opacity: 1;
		.dui__portal__inner {
			opacity: 1;
			transform: translateY(0);
		}
	}
	&-exit-active {
		transition-delay: $fastTransTime;
		transition: $fastTrans;
		@media (prefers-reduced-motion) {
			transition: none;
		}
		opacity: 0;
		.dui__portal__inner {
			transition: $fastTrans;
			@media (prefers-reduced-motion) {
				transition: none;
			}
			opacity: 0;
			transform: translateY(-5rem);
		}
	}
}

@mixin zoomPortalAnim() {
	&-enter {
		opacity: 0;
		.dui__portal__inner {
			opacity: 0;
			transform: scale(0.5);
		}
	}
	&-enter-active {
		transition: $fastTrans;
		@media (prefers-reduced-motion) {
			transition: none;
		}
		opacity: 1;
		.dui__portal__inner {
			transition-delay: $fastTransTime;
			transition: $fastTrans;
			@media (prefers-reduced-motion) {
				transition: none;
			}
			opacity: 1;
			transform: scale(1);
		}
	}
	&-exit {
		opacity: 1;
		.dui__portal__inner {
			opacity: 1;
			transform: scale(1);
		}
	}
	&-exit-active {
		transition-delay: $fastTransTime;
		transition: $fastTrans;
		@media (prefers-reduced-motion) {
			transition: none;
		}
		opacity: 0;
		.dui__portal__inner {
			transition: $fastTrans;
			@media (prefers-reduced-motion) {
				transition: none;
			}
			opacity: 0;
			transform: scale(0.5);
		}
	}
}

@mixin collapseShowAnim() {
	&-enter {
		max-height: 0;
	}
	&-enter-active {
		overflow: hidden;
		transition: max-height $slowTransTime $slowTransEase;
		@media (prefers-reduced-motion) {
			transition: none;
		}
		max-height: 49rem;
	}
	&-enter-done {
		overflow: initial;
		max-height: unset;
	}
	&-exit {
		max-height: 49rem;
	}
	&-exit-active {
		overflow: hidden;
		transition: max-height $slowTransTime $slowTransEase;
		@media (prefers-reduced-motion) {
			transition: none;
		}
		max-height: 0;
	}
}

@mixin collapseFadeAnim() {
	&-enter {
		max-height: 0;
		& > * {
			opacity: 0;
		}
	}
	&-enter-active {
		overflow: hidden;
		transition: max-height $slowTransTime $slowTransEase;
		@media (prefers-reduced-motion) {
			transition: none;
		}
		max-height: 49rem;
		& > * {
			transition: opacity $fastTransTime $fastTransEase;
			transition-delay: $slowTransTime;
			@media (prefers-reduced-motion) {
				transition: none;
			}
			opacity: 1;
		}
	}
	&-enter-done {
		overflow: initial;
		max-height: unset;
	}
	&-exit {
		max-height: 49rem;
		& > * {
			opacity: 1;
		}
	}
	&-exit-active {
		overflow: hidden;
		transition-delay: $fastTransTime;
		transition: max-height $slowTransTime $slowTransEase;
		@media (prefers-reduced-motion) {
			transition: none;
		}
		max-height: 0;
		pointer-events: none;
		& > * {
			transition: opacity $fastTransTime $fastTransEase;
			@media (prefers-reduced-motion) {
				transition: none;
			}
			opacity: 0;
		}
	}
}

@mixin slideIn($position: "left") {
	&-enter {
		overflow: hidden;
		opacity: 0;
		.dui__drawer__inner {
			@if ($position == "left") {
				transform: translateX(-110%);
			}
			@if ($position == "right") {
				transform: translateX(110%);
			}
			@if ($position == "top") {
				transform: translateY(-110%);
			}
			@if ($position == "bottom") {
				transform: translateY(110%);
			}
		}
	}
	&-enter-active {
		overflow: hidden;
		transition: $fastTrans;
		@media (prefers-reduced-motion) {
			transition: none;
		}
		opacity: 1;
		.dui__drawer__inner {
			transition-delay: $fastTransTime;
			transition: $slowTrans;
			@media (prefers-reduced-motion) {
				transition: none;
			}
			@if ($position == "left" or $position == "right") {
				transform: translateX(0);
			}
			@if ($position == "top" or $position == "bottom") {
				transform: translateY(0);
			}
		}
	}
	&-enter-done {
		overflow: initial;
	}
	&-exit {
		overflow: hidden;
		opacity: 1;
		.dui__drawer__inner {
			@if ($position == "left" or $position == "right") {
				transform: translateX(0);
			}
			@if ($position == "top" or $position == "bottom") {
				transform: translateY(0);
			}
		}
	}
	&-exit-active {
		overflow: hidden;
		transition-delay: $slowTransTime;
		transition: $fastTrans;
		@media (prefers-reduced-motion) {
			transition: none;
		}
		opacity: 0;
		.dui__drawer__inner {
			transition: $slowTrans;
			@media (prefers-reduced-motion) {
				transition: none;
			}
			@if ($position == "left") {
				transform: translateX(-110%);
			}
			@if ($position == "right") {
				transform: translateX(110%);
			}
			@if ($position == "top") {
				transform: translateY(-110%);
			}
			@if ($position == "bottom") {
				transform: translateY(110%);
			}
		}
	}
}

.dui__anim {
	&__fade {
		will-change: opacity, transform;
		&.fade {
			@include fadeAnim();
		}
	}
	&__zoom {
		will-change: opacity;
		&.zoom {
			@include zoomAnim();
		}
	}
	&__fade-portal {
		will-change: transform, opacity;
		&.fade-portal {
			@include fadePortalAnim();
		}
	}
	&__zoom-portal {
		will-change: transform, opacity;
		&.zoom-portal {
			@include zoomPortalAnim();
		}
	}
	&__collapse-show {
		will-change: max-height;
		&.collapse-show {
			@include collapseShowAnim();
		}
	}
	&__collapse-fade {
		will-change: max-height;
		& > * {
			will-change: opacity;
		}
		&.collapse-fade {
			@include collapseFadeAnim();
		}
	}
	&__slide-left {
		will-change: transform, opacity;
		&.slide-left {
			@include slideIn("left");
		}
	}
	&__slide-top {
		will-change: transform, opacity;
		&.slide-top {
			@include slideIn("top");
		}
	}
	&__slide-right {
		will-change: transform, opacity;
		&.slide-right {
			@include slideIn("right");
		}
	}
	&__slide-bottom {
		will-change: transform, opacity;
		&.slide-bottom {
			@include slideIn("bottom");
		}
	}
}
