.dui__badge {
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding: 0.45em 0.5em;
	margin: 0;
	font-weight: 600;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: bottom;
	outline: none;

	@include crossBrowser(user-select, none);
}
