@mixin btn() {
	transition: $fastTrans;
	display: inline-block;
	position: relative;
	margin: 0;
	padding: calc(#{$mdFont} * 0.4375) $mdFont;
	background-color: transparent;
	width: auto;
	border-radius: $smBorderRadius;
	font-size: $mdFont;
	font-weight: 400;
	color: $mainFont;
	overflow: hidden;
	user-select: none;
	line-height: 1.5;
	outline: none;
	text-decoration: none;
	border: none;
	vertical-align: middle;

	& > * {
		font-size: $mdFont;
	}

	&.dui__btn--focus-ring {
		&:focus {
			box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.1), 0 0 0 0.1rem rgba(0, 0, 0, 0.25);
		}
	}

	&.dui__btn--active {
		background: rgba(0, 0, 0, 0.175);
	}

	&:focus-visible {
		box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.1), 0 0 0 0.1rem rgba(0, 0, 0, 0.25);
	}

	&:hover {
		transition: $fastTrans;
		background: rgba(0, 0, 0, 0.1);
	}

	@include spongy();
	&.dui__btn--still {
		@include spongy(1);
	}

	&:disabled {
		cursor: not-allowed;
	}

	&:not(:disabled) {
		cursor: pointer;
	}
}

@mixin btnRoundOption($size: $mdFont) {
	&.dui__btn--round {
		border-radius: $roundBorderRadius;
		width: calc(calc(#{$size} * 1.375) + #{$size});
		height: calc(calc(#{$size} * 1.375) + #{$size});
		padding: 0;
	}
}

@mixin btnPigmentOptions($options: $pigments) {
	$pigmentKeys: map-keys($options);
	@each $key in $pigmentKeys {
		$name: map-deep-get($options, $key, "name");
		$bgColor: map-deep-get($options, $key, "bgColor");
		$fontColor: map-deep-get($options, $key, "fontColor");
		&.dui__btn--#{$name} {
			background-color: $bgColor;
			color: $fontColor;
			&:hover,
			&.dui__btn--active {
				background-color: darken($bgColor, 5%);
			}
			&.dui__btn--focus-ring {
				&:focus {
					box-shadow: 0 0 0 0.25rem rgba($bgColor, 0.5), 0 0 0 0.1rem rgba($fontColor, 0.25);
				}
			}
			&:focus-visible {
				box-shadow: 0 0 0 0.25rem rgba($bgColor, 0.5), 0 0 0 0.1rem rgba($fontColor, 0.25);
			}
			.dui__btn--loading__overlay {
				background-color: rgba($bgColor, 0.9);
			}
		}
		&.dui__btn--color-#{$name} {
			color: $fontColor;
			&.dui__btn--focus-ring {
				&:focus {
					box-shadow: 0 0 0 0.25rem rgba($bgColor, 0.5), 0 0 0 0.1rem rgba($fontColor, 0.25);
				}
			}
			&:focus-visible {
				box-shadow: 0 0 0 0.25rem rgba($bgColor, 0.5), 0 0 0 0.1rem rgba($fontColor, 0.25);
			}
			.dui__btn--loading__overlay {
				background-color: transparent;
			}
		}
	}
}

@mixin btnGroupCornerRoudness($radius: $smBorderRadius, $dir: "horizontal") {
	border-radius: $radius;

	& > *:first-child {
		border-radius: $radius 0 0 $radius;
	}
	& > *:last-child {
		border-radius: 0 $radius $radius 0;
	}

	@if $dir == "vertical" {
		& > *:first-child {
			border-radius: $radius $radius 0 0;
		}
		& > *:last-child {
			border-radius: 0 0 $radius $radius;
		}
	}
}

.dui__btn {
	@include btn();
	@include btnRoundOption();
	@each $name, $size in $sizes {
		&.dui__btn--#{$name} {
			font-size: $size;
			padding: calc(#{$size} * 0.4375) $size;

			& > * {
				font-size: $size;
			}
			@include btnRoundOption($size);
		}
	}
	@include btnPigmentOptions();
	&.dui__btn--contrast {
		@include btnPigmentOptions($contrastPigments);
	}
	&--icon-start {
		i {
			margin-right: 0.5rem;
		}
	}
	&--icon-end {
		i {
			margin-left: 0.5rem;
		}
	}
	&--loading {
		cursor: progress;
		&__overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&-disabled {
			pointer-events: none;
		}
	}
	&--flat {
		border-radius: $flatBorderRadius;
	}
	&--rounded {
		border-radius: $roundedBorderRadius;
	}
	&--wide {
		display: block;
		width: 100%;
	}
	&--no-wrap {
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	&--left-align {
		text-align: left;
	}
	&-group {
		position: relative;
		display: inline-flex;
		align-items: center;
		outline: none;

		&:focus-visible {
			box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.1), 0 0 0 0.1rem rgba(0, 0, 0, 0.25);
		}

		& > * {
			border-radius: 0;
			&:focus {
				z-index: 2;
			}
		}
		@include btnGroupCornerRoudness();
		&--wide {
			width: 100%;
			& > * {
				flex: 1;
			}
		}
		&--rounded {
			@include btnGroupCornerRoudness($roundedBorderRadius);
		}
		&--flat {
			@include btnGroupCornerRoudness($flatBorderRadius);
		}
		&--vertical {
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			& > * {
				width: 100%;
			}
			@include btnGroupCornerRoudness($smBorderRadius, "vertical");

			&.dui__btn-group--rounded {
				@include btnGroupCornerRoudness($xlBorderRadius, "vertical");
			}
			&.dui__btn-group--flat {
				@include btnGroupCornerRoudness($flatBorderRadius, "vertical");
			}
		}
	}
}
