@mixin card($modern: false, $pigment: $bgCard, $font: $darkFont) {
	position: relative;
	background: $pigment;
	border-radius: $smBorderRadius;
	color: $font;
	img {
		user-select: none;
	}
	@if $modern {
		box-shadow: $smShadow;
		border: none;
	} @else {
		box-shadow: none;
		border: 1px solid rgba($font, 0.125);
	}
}

@mixin cardLoader() {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba($bgCard, 0.6);
	user-select: none;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	border-radius: $smBorderRadius;
	&--modern {
		display: block;
	}
	&--sticky {
		position: sticky;
		display: block;
		height: 0;
		overflow: visible;
		transform: translateY(2rem);
		&.dodo-ui__card__loader--modern {
			transform: translateY(0);
		}
		& > .dodo-ui__spinner {
			margin: 0 auto;
		}
	}
}

@mixin cardImg($modern: false, $accentContrast: $darkFont) {
	max-width: 100%;
	overflow: hidden;
	& > img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
}

@mixin cardHeader($modern: false, $accentContrast: $darkFont) {
	@if $modern {
		margin: 0 1rem;
		padding: 1rem 0.5rem;
		background: unset;
		border-bottom: 1px solid rgba($accentContrast, 0.05);
	} @else {
		margin: 0;
		padding: 1rem 1.5rem;
		background: rgba(0, 0, 0, 0.03);
		border-bottom: 1px solid rgba($accentContrast, 0.125);
	}
	&--dismissible {
		display: flex;
		align-items: center;
		.dodo-ui__card__header__title {
			flex: 1;
		}
	}
}

@mixin cardBody($modern: false, $accentContrast: $darkFont) {
	padding: 1.5rem;
}

@mixin cardFooter($modern: false, $accentContrast: $darkFont) {
	@if $modern {
		margin: 0 1rem;
		padding: 1rem 0.5rem;
		background: unset;
		border-top: 1px solid rgba($accentContrast, 0.05);
	} @else {
		margin: 0;
		padding: 1rem 1.5rem;
		background: rgba(0, 0, 0, 0.03);
		border-top: 1px solid rgba($accentContrast, 0.125);
	}
}

@mixin cardChildren($modern, $toLoop) {
	@include card($modern);

	& > .dodo-ui__card__loader {
		@include cardLoader();
	}
	& > .dodo-ui__card__img {
		grid-area: card-img;
		@include cardImg($modern);
	}
	& > .dodo-ui__card__header {
		grid-area: card-header;
		@include cardHeader($modern);
	}
	& > .dodo-ui__card__body {
		grid-area: card-body;
		@include cardBody($modern);
	}
	& > .dodo-ui__card__footer {
		grid-area: card-footer;
		@include cardFooter($modern);
	}
	@each $name, $color, $font in $toLoop {
		&.dodo-ui__card--pigment-#{$name} {
			@include card($modern, $color, $font);
			& > .dodo-ui__card__img {
				@include cardImg($modern, $font);
			}
			& > .dodo-ui__card__header {
				@include cardHeader($modern, $font);
			}
			& > .dodo-ui__card__body {
				@include cardBody($modern, $font);
			}
			& > .dodo-ui__card__footer {
				@include cardFooter($modern, $font);
			}
		}
	}
}

.dodo-ui__card {
	@include cardChildren(false, $cardPigments);
	&--modern {
		@include cardChildren(true, $cardModernPigments);
	}
	&--loading {
		cursor: progress;
	}
	&--img {
		&-top {
			display: grid;
			gap: 0;
			grid-template-columns: 1fr;
			grid-template-areas:
				"card-img"
				"card-header"
				"card-body"
				"card-footer";
			& > .dodo-ui__card__img {
				border-radius: $smBorderRadius $smBorderRadius 0 0;
			}
		}
		&-bottom {
			display: grid;
			gap: 0;
			grid-template-columns: 1fr;
			grid-template-areas:
				"card-header"
				"card-body"
				"card-footer"
				"card-img";
			& > .dodo-ui__card__img {
				border-radius: 0 0 $smBorderRadius $smBorderRadius;
			}
		}
		&-left {
			display: grid;
			gap: 0;
			grid-template-columns: 33.33% 1fr;
			grid-template-areas:
				"card-img card-header"
				"card-img card-body"
				"card-img card-footer";

			& > .dodo-ui__card__img {
				border-radius: $smBorderRadius 0 0 $smBorderRadius;
			}
		}
		&-right {
			display: grid;
			gap: 0;
			grid-template-columns: 1fr 33.33%;
			grid-template-areas:
				"card-header card-img"
				"card-body card-img"
				"card-footer card-img";

			& > .dodo-ui__card__img {
				border-radius: 0 $smBorderRadius $smBorderRadius 0;
			}
		}
	}
}
