@mixin collapse() {
	position: relative;
	&__loader {
		@include componentLoader();
	}
	&__toggle {
		position: relative;
		padding: 0.625rem 1rem;
		line-height: 1.5;
		margin: 0;
		background-color: inherit;
		display: flex;
		align-items: center;
		cursor: pointer;
		outline: none;
		@include crossBrowser(user-select, none);

		&__title {
			flex: 1;
		}
		&__indicator {
			flex: 0 0 1rem;
			margin-left: 0.625rem;
			transition: $normalTrans;
			@media (prefers-reduced-motion) {
				transition: none;
			}
			transform: rotateX(180deg);
		}
		&:hover {
			background-color: darken($bgCard, 1.5%);
		}
	}
	&__content {
		padding: 1rem;
		.dui__collapse {
			background-color: inherit;
		}
	}
}

.dui__collapse {
	@include collapse();
	&--collapsed {
		.dui__collapse__toggle {
			&__indicator {
				transform: rotateX(0deg);
			}
		}
	}
	&--loading {
		cursor: progress;
		&-disabled {
			pointer-events: none;
		}
	}
}
