@mixin collapse() {
	position: relative;
	background: $bgCard;
	border-radius: $smBorderRadius;
	&__loader {
		@include componentLoader();
	}
	&__toggle {
		position: relative;
		padding: 0.625rem 1rem;
		line-height: 1.5;
		margin: 0;
		background-color: inherit;
		display: flex;
		align-items: center;
		user-select: none;
		cursor: pointer;
		border-radius: $smBorderRadius $smBorderRadius 0 0;
		&__title {
			flex: 1;
		}
		&__indicator {
			flex: 0 0 1rem;
			margin-left: 0.625rem;
			transition: $normalTrans;
			transform: rotateX(180deg);
		}
		&:hover {
			background-color: darken($bgCard, 1.5%);
		}
		&:focus {
			outline: none;
		}
		&:focus-visible {
			box-shadow: 0 0 0 0.25rem rgba($bg, 0.5), 0 0 0 0.1rem rgba($mainFont, 0.25);
		}
	}
	&__content {
		padding: 1rem;
		border-radius: 0 0 $smBorderRadius $smBorderRadius;
		.dui__collapse {
			background-color: inherit;
		}
	}
}

@mixin collapsePigmentOptions($options: $pigments) {
	$pigmentKeys: map-keys($options);
	@each $key in $pigmentKeys {
		$name: map-deep-get($options, $key, "name");
		$bgColor: map-deep-get($options, $key, "bgColor");
		$fontColor: map-deep-get($options, $key, "fontColor");
		&.dui__collapse--#{$name} {
			background-color: $bgColor;
			color: $fontColor;
			.dui__collapse__toggle {
				&:hover {
					background-color: darken($bgColor, 1.5%);
				}
				&:focus-visible {
					box-shadow: 0 0 0 0.25rem rgba($bgColor, 0.5), 0 0 0 0.1rem rgba($fontColor, 0.25);
				}
			}
		}
	}
}

.dui__collapse {
	@include collapse();
	@include collapsePigmentOptions();
	&--collapsed {
		.dui__collapse__toggle {
			border-radius: $smBorderRadius;
			&__indicator {
				transform: rotateX(0deg);
			}
		}
	}
	&--flat {
		border-radius: $flatBorderRadius;
		&.dui__collapse--collapsed {
			.dui__collapse__toggle {
				border-radius: $flatBorderRadius;
			}
		}
		.dui__collapse__loader {
			border-radius: $flatBorderRadius;
		}
	}
	&--loading {
		cursor: progress;
		&-disabled {
			pointer-events: none;
		}
	}
}
