html {
	font-size: $fontSize;
}

html,
body,
#root {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: $bg;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch;
}

#root {
	z-index: 1;
}

* {
	font-family: $fontFamily;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	box-sizing: inherit;
	&:after,
	&:before {
		box-sizing: inherit;
	}
	&::-moz-focus-inner {
		border: 0 !important;
	}
}

img {
	display: block;
	max-width: 100%;
}

a {
	text-decoration: none;
	cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: $lgFont;
	font-weight: 500;
	margin: 0 0 1rem 0;
}

p {
	margin: 0 0 1rem 0;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
	cursor: pointer;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	margin: 1rem 0;
	border: 0;
	border-top: 1px solid rgba($mainFont, 0.125);
	&[modern] {
		margin: 1rem;
	}
	@each $name, $color in $hrPigments {
		&[pigment="#{$name}"] {
			border-top: 1px solid rgba($color, 0.125);
		}
	}
}
