@mixin dropdownPopUp() {
	z-index: 1999;
	position: absolute;
}

@mixin dropdownMenu() {
	background-color: $bgCard;
}

.dui__dropdown {
	&__menu,
	&__body {
		@include dropdownPopUp();
	}
	&__menu {
		@include dropdownMenu();
	}
}
