@font-face {
	font-family: "Manrope";
	src: local("../fonts/Manrope-ExtraLight.ttf") format("truetype");
	font-weight: 200;
}
@font-face {
	font-family: "Manrope";
	src: local("./fonts/Manrope-Light.ttf") format("truetype");
	font-weight: 300;
}
@font-face {
	font-family: "Manrope";
	src: local("./fonts/Manrope-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: "Manrope";
	src: local("./fonts/Manrope-Medium.ttf") format("truetype");
	font-weight: 500;
}
@font-face {
	font-family: "Manrope";
	src: local("./fonts/Manrope-SemiBold.ttf") format("truetype");
	font-weight: 600;
}
@font-face {
	font-family: "Manrope";
	src: local("./fonts/Manrope-Bold.ttf") format("truetype");
	font-weight: 700;
}
@font-face {
	font-family: "Manrope";
	src: local("./fonts/Manrope-ExtraBold.ttf") format("truetype");
	font-weight: 800;
}

$fontFamily: Manrope, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
