@mixin input($pigment: $subFont, $modern: false) {
	transition: all 0.15s ease;
	position: relative;
	caret-color: $mainFont;
	background: darken($bg, 2.5%);
	padding: 0 0.625rem 0 0;
	text-indent: 0.625rem;
	display: block;
	border: 1px solid rgbaToRgb(rgba($pigment, 0.3));
	width: 100%;
	color: $mainFont;
	border-radius: $smBorderRadius;
	outline: none;
	font-size: $mdFont;
	height: $md;

	&:hover {
		border: 1px solid rgbaToRgb(rgba($pigment, 0.6));
	}

	&:focus {
		box-shadow: 0 0 0 0.2rem rgba($pigment, 0.1);
	}

	&:-webkit-autofill,
	&:-webkit-autofill:hover,
	&:-webkit-autofill:focus {
		border: none;
		box-shadow: 0 0 0 50rem $bg inset;
		-webkit-text-fill-color: $mainFont;
		-webkit-box-shadow: 0 0 0 50rem $bg inset;
		transition: background-color 5000s ease-in-out 0s;
	}

	&:-webkit-autofill:focus {
		box-shadow: 0 0 0 0.2rem rgba($pigment, 0.1);
		@if ($modern) {
			box-shadow: none;
		}
	}

	&.dui__input__field--loading {
		cursor: progress;
	}

	@if ($modern) {
		border: 1px solid transparent;
		&:hover {
			border: 1px solid transparent;
		}

		&:focus {
			box-shadow: none;
		}
	}
}
.dui__input {
	&__field {
		@include input();
		@each $name, $color in $inputPigments {
			&.dui__input__field--pigment-#{$name} {
				@include input($color);
			}
		}
		&--modern {
			@include input($subFont, true);
			@each $name, $color in $inputPigments {
				&.dui__input__field--pigment-#{$name} {
					@include input($color, true);
				}
			}
		}
		@each $name, $size, $fontSize in $inputSizes {
			&.dui__input__field--#{$name} {
				height: $size;
				font-size: $fontSize;
				text-indent: calc(#{$size} / 3.5);
				&.dui__input--round {
					text-indent: calc(#{$size} / 2.5);
				}
			}
		}
		&.dui__input__field--round {
			border-radius: $roundBorderRadius;
		}
	}
	&__textarea {
		display: block;
		width: 100%;
		resize: vertical;
	}
	// &__checkbox {
	// }
	// &__radio {
	// }
	// &__file {
	// }
	// &__slider {
	// }
	// &__switch {
	// }
}
