// COLOR PICKER
@mixin mozColorSwatchDimensions($arg) {
	width: calc(100% - calc(#{$arg} * 0.4375) * 2);
	height: calc(100% - calc(#{$arg} * 0.4375) * 2);
}

@mixin colorSwatchPosition($arg) {
	top: calc(#{$arg} * 0.4375);
	left: calc(#{$arg} * 0.4375);
	right: calc(#{$arg} * 0.4375);
	bottom: calc(#{$arg} * 0.4375);
}

@mixin colorSwatchStyles($arg) {
	position: absolute;
	border: none;
	border-radius: $smBorderRadius / 2;
	@include colorSwatchPosition($arg);
}

// INPUT RANGE
@mixin rangeTrack() {
	cursor: default;
	height: 0.5em;
	transition: $fastTrans;
	width: 100%;
	box-shadow: none;
	background-color: rgba($subFont, 0.2);
	border-radius: $roundedBorderRadius;
	border: none;
}

@mixin rangeThumb($background: $subFont, $border: $mainFont) {
	transition: $fastTrans;
	box-shadow: none;
	background: $background;
	border: 0.0625rem solid $border;
	border-radius: $roundBorderRadius;
	cursor: grab;
	height: 1em;
	width: 1em;
	-webkit-appearance: none;
	margin-top: -0.25em;
	&:active {
		cursor: grabbing;
	}
}

@mixin rangeHover($shadow: $subFont) {
	&[type="range"] {
		&::-webkit-slider-thumb {
			box-shadow: 0 0 0 0.3125rem rgba($shadow, 0.35);
		}
		&::-moz-range-thumb {
			box-shadow: 0 0 0 0.3125rem rgba($shadow, 0.35);
		}
		&::-ms-thumb {
			box-shadow: 0 0 0 0.3125rem rgba($shadow, 0.35);
		}
	}
}

@mixin rangeFocusVisible($outer: $subFont, $inner: $mainFont) {
	&[type="range"] {
		&::-webkit-slider-thumb {
			@include focusVisibleStyles($outer, $inner);
		}
		&::-moz-range-thumb {
			@include focusVisibleStyles($outer, $inner);
		}
		&::-ms-thumb {
			@include focusVisibleStyles($outer, $inner);
		}
	}
}

@mixin rangeDefaults() {
	&::-webkit-slider-runnable-track {
		@include rangeTrack();
	}

	&::-moz-range-track {
		@include rangeTrack();
	}

	&::-ms-track {
		@include rangeTrack();
	}

	&::-webkit-slider-thumb {
		@include rangeThumb();
	}

	&::-moz-range-thumb {
		@include rangeThumb();
	}

	&::-ms-thumb {
		@include rangeThumb();
	}
}

@mixin rangeThumbPigments($outer, $inner) {
	&::-webkit-slider-thumb {
		@include rangeThumb($outer, $inner);
	}
	&::-moz-range-thumb {
		@include rangeThumb($outer, $inner);
	}
	&::-ms-thumb {
		@include rangeThumb($outer, $inner);
	}
}
