@mixin input() {
	transition: $fastTrans;
	@media (prefers-reduced-motion) {
		transition: none;
	}
	position: relative;
	display: block;
	caret-color: $mainFont;
	background-color: darken($bgCard, 7.5%);
	line-height: 1.5;
	width: 100%;
	color: $mainFont;
	border: none;
	outline: none;
	@include crossBrowser(appearance, none);

	&:disabled {
		background-color: darken($bgCard, 12.5%);
	}

	&[type="range"] {
		margin: auto 0;
		width: 100%;
		height: 1em;
		&:disabled {
			cursor: not-allowed;
		}

		@include rangeDefaults();
	}

	&[type="date"],
	&[type="time"] {
		&::-webkit-datetime-edit {
			flex: 0 0 auto;
		}
		&::-webkit-calendar-picker-indicator {
			opacity: 0;
			margin-left: 0;
			flex: 1;
			height: 100%;
		}
	}
}

@mixin inputWrapper() {
	transition: $fastTrans;
	@media (prefers-reduced-motion) {
		transition: none;
	}
	position: relative;
	display: flex;
	width: 100%;
	background-color: darken($bgCard, 7.5%);
	color: $mainFont;
	outline: none;
	.dui__input {
		background-color: inherit;
		&:hover {
			box-shadow: none;
		}
		&:focus-visible {
			box-shadow: none;
		}
	}
}

@mixin seamless() {
	background-color: inherit;
	border-radius: 0;
	box-shadow: none;
}

.dui__input {
	@include input();

	&--seamless {
		@include seamless();
	}

	&__wrapper {
		@include inputWrapper();
		&__checkable {
			.dui__input__checkable {
				display: flex;
				width: 100%;
			}
			&:hover {
				.dui__input__checkable__value {
					box-shadow: 0 0 0 0.125rem rgba($subFont, 0.2);
				}
			}
		}

		&__attachment {
			&__container {
				display: flex;
				align-items: stretch;
				justify-content: flex-end;
			}
			white-space: nowrap;
			line-height: 1.5;
			opacity: 0.75;
			@include crossBrowser(user-select, none);
			&.dui__input__wrapper__loader {
				padding: 0;
			}
			&.dui__input__wrapper__clear,
			&.dui__input__wrapper__password {
				cursor: pointer;
			}
			&.dui__input__wrapper__clear {
				display: inline-flex;
			}
			[class^="dui__icon"] {
				width: 1em;
				height: 100%;
				transform: unset;
			}
			&:hover {
				opacity: 1;
			}
		}

		&--seamless {
			@include seamless();
		}

		&--disabled {
			cursor: not-allowed;
			background-color: darken($bgCard, 12.5%);
		}

		&--loading {
			cursor: progress;
			&-disabled {
				pointer-events: none;
			}
		}

		&--textarea {
			flex-direction: column;
		}
	}

	&__textarea {
		min-height: 10em;
	}

	&__checkable {
		display: inline-flex;
		width: auto;
		line-height: 1.5;
		cursor: pointer;
		@include crossBrowser(user-select, none);
		&__input {
			position: absolute;
			opacity: 0;
			pointer-events: none;
			margin: 0;
			width: 0;
			height: 0;
			& + .dui__input__checkable__value {
				flex: 0 0 auto;
				position: relative;
				height: 1em;
				margin-top: auto;
				margin-bottom: auto;
				margin-right: calc(1em / 2.5);
			}
			&:disabled + .dui__input__checkable__value {
				cursor: not-allowed;
				opacity: 0.5;
				background-color: rgba($subFont, 0.2);
			}
			&:focus-visible + .dui__input__checkable__value {
				box-shadow: 0 0 0 0.125rem rgba($subFont, 0.2);
			}
		}
		&:hover {
			.dui__input__checkable__value {
				box-shadow: 0 0 0 0.125rem rgba($subFont, 0.2);
			}
		}
	}

	&__checkbox {
		&__input {
			& + .dui__input__checkbox__value {
				width: 1em;
				border-radius: calc(1em / 5);
				border: 0.15em solid $subFont;
				&::before,
				&::after {
					transition: opacity $normalTransTime $normalTransEase;
					@media (prefers-reduced-motion) {
						transition: none;
					}
					opacity: 0;
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					border: solid $subFont;
				}
				&::after {
					transform: translate(-50%, -65%) rotate(45deg);
					width: 40%;
					height: 70%;
					border-width: 0 0.125em 0.125em 0;
				}
				&::before {
					transform: translate(-50%, -50%);
					width: 50%;
					height: 0.15em;
				}
			}
			&:checked + .dui__input__checkbox__value {
				&::after {
					opacity: 1;
					border-color: $mainFont;
				}
			}
			&:indeterminate + .dui__input__checkbox__value {
				&::before {
					opacity: 1;
				}
			}
		}
	}

	&__switch {
		&__input {
			& + .dui__input__switch__value {
				width: 2em;
				border-radius: $roundedBorderRadius * 5;
				border: 0.0625em solid $subFont;
				background-color: transparent;
				overflow: hidden;
				&::after {
					transition: $fastTrans;
					@media (prefers-reduced-motion) {
						transition: none;
					}
					content: "";
					position: absolute;
					top: 0.1em;
					left: 0.1em;
					height: 0.675em;
					width: 0.675em;
					border-radius: $roundBorderRadius;
					background-color: $subFont;
					box-shadow: map-get($elevations, "subtle");
				}
			}
			&:checked + .dui__input__switch__value {
				&::after {
					left: calc(100% - 0.775em);
				}
			}
			&:indeterminate + .dui__input__switch__value {
				&::after {
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}

	&__radio {
		&__input {
			& + .dui__input__radio__value {
				width: 1em;
				border-radius: $roundBorderRadius;
				border: 0.15em solid $subFont;
				&::after {
					transition: opacity $normalTransTime $normalTransEase;
					@media (prefers-reduced-motion) {
						transition: none;
					}
					opacity: 0;
					content: "";
					position: absolute;
					top: 50%;
					left: 50%;
					background-color: $subFont;
					border-radius: $roundBorderRadius;
				}
				&::after {
					transform: translate(-50%, -50%);
					width: 60%;
					height: 60%;
				}
			}
			&:checked + .dui__input__radio__value {
				&::after {
					opacity: 1;
				}
			}
		}
	}

	&__select {
		&__wrapper {
			position: relative;
			display: block;
			width: 100%;
			background-color: inherit;
			border-radius: inherit;
			outline: none;
			&::after {
				content: "";
				z-index: 100;
				position: absolute;
				top: 50%;
				right: calc(1em / 1.25);
				transform: translate(-50%, -20%);
				height: 0;
				width: 0;
				border: 0.3125em solid transparent;
				border-top: 0.3125em solid rgba($subFont, 0.5);
				border-radius: calc(1em / 5);
			}
		}
	}

	&-group {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		width: 100%;
		outline: none;

		& > * {
			&:focus,
			&:hover {
				z-index: 2;
			}
		}

		& > [class^="dui__input"] {
			flex: 1 1 auto;
			width: 1%;
			min-width: 0;
		}
	}
}

.dui__form__control {
	position: relative;
	display: block;
	&__label {
		display: block;
		margin-bottom: 0.125rem;
		margin-left: 0.625rem;
		font-size: 0.9rem;
	}
	&__hint {
		display: block;
		margin-top: 0.125rem;
		margin-left: 0.625rem;
	}
}
