.dui__spinner {
	border-style: solid;
	border-radius: $roundBorderRadius;
	animation: spin 1s linear infinite;

	&--component {
		animation: componentSpin 1s linear infinite;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@keyframes componentSpin {
	from {
		transform: scale(0.5) rotate(0deg);
	}
	to {
		transform: scale(0.5) rotate(360deg);
	}
}

.dui__line-loader {
	position: relative;
	overflow: hidden;
	height: 0.3125rem;
	left: 0;
	right: 0;
	width: 100%;

	&__line {
		position: absolute;
		top: 0;
		left: -80%;
		will-change: left, right;
		height: 0.3125rem;
		border-radius: $mdBorderRadius;
		animation: indeterminate 1.5s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
	}
}

@keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%;
	}
	100% {
		left: 100%;
		right: -160%;
	}
}
