@mixin lineLoaderPigmentOptions($options: $pigments) {
	$pigmentKeys: map-keys($options);
	@each $key in $pigmentKeys {
		$name: map-deep-get($options, $key, "name");
		$bgColor: map-deep-get($options, $key, "bgColor");

		&.dui__line-loader--#{$name} {
			background-color: rgba($bgColor, 0.25);
			.dui__line-loader__line {
				background: $bgColor;
			}
		}
	}
}

@mixin spinnerPigmentOptions($options: $pigments) {
	$pigmentKeys: map-keys($options);
	@each $key in $pigmentKeys {
		$name: map-deep-get($options, $key, "name");
		$bgColor: map-deep-get($options, $key, "bgColor");

		&.dui__spinner--#{$name} {
			border-color: rgba($bgColor, 0.25);
			border-top-color: $bgColor;
		}
	}
}

@mixin spinnerPigmentBtnOptions($options: $pigments) {
	$pigmentKeys: map-keys($options);
	@each $key in $pigmentKeys {
		$name: map-deep-get($options, $key, "name");
		$fontColor: map-deep-get($options, $key, "fontColor");

		&.dui__spinner--#{$name} {
			border-color: rgba($fontColor, 0.25);
			border-top-color: $fontColor;
		}
	}
}

.dui__spinner {
	border-style: solid;
	border-radius: $roundBorderRadius;
	animation: spin 1s linear infinite;
	@each $name, $size in $sizes {
		&.dui__spinner--#{$name} {
			$calcSize: calc(calc(#{$size} * 1.375) + #{$size});

			width: $calcSize;
			height: $calcSize;
			border-width: calc(#{$calcSize} * 0.15);
		}
	}

	@include spinnerPigmentOptions();

	&--contrast {
		@include spinnerPigmentOptions($contrastPigments);
	}

	&--btn {
		animation: btnSpin 1s linear infinite;
		@include spinnerPigmentBtnOptions();
		&.dui__spinner--contrast {
			@include spinnerPigmentBtnOptions($contrastPigments);
		}
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@keyframes btnSpin {
	from {
		transform: scale(0.5) rotate(0deg);
	}
	to {
		transform: scale(0.5) rotate(360deg);
	}
}

.dui__line-loader {
	position: relative;
	overflow: hidden;
	height: 0.3125rem;
	left: 0;
	right: 0;
	width: 100%;

	&__line {
		position: absolute;
		top: 0;
		left: -80%;
		will-change: left, right;
		height: 0.3125rem;
		border-radius: $mdBorderRadius;
		animation: indeterminate 1.5s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
	}

	@include lineLoaderPigmentOptions();

	&--contrast {
		@include lineLoaderPigmentOptions($contrastPigments);
	}
}

@keyframes indeterminate {
	0% {
		left: -35%;
		right: 100%;
	}
	100% {
		left: 100%;
		right: -160%;
	}
}
