@mixin scrollbar($trackBg: $bgCard, $thumbBg: $mainFont, $size: 0.75rem, $thumbRadius: $mdBorderRadius) {
	@media (pointer: fine) {
		&::-webkit-scrollbar {
			width: $size;
			height: $size;
		}
		&::-webkit-scrollbar-track {
			background: $trackBg;
		}
		&::-webkit-scrollbar-thumb {
			background: rgba($thumbBg, 0.2);
			border-radius: $thumbRadius;
			border: $size * 0.225 solid $trackBg;

			&:vertical:hover {
				background: rgba($thumbBg, 0.4);
			}

			&:horizontal:hover {
				background: rgba($thumbBg, 0.4);
			}
		}
		&::-webkit-scrollbar-corner {
			background: $trackBg;
		}
	}
	& {
		scrollbar-width: thin;
		scrollbar-color: rgba($thumbBg, 0.2) $trackBg;
	}
}

@mixin componentLoader() {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: $smBorderRadius $smBorderRadius 0 0;
	z-index: 1;
	pointer-events: none;
}

@mixin spongy($amount: 0.95) {
	will-change: transform;
	transition: $fastTrans;
	@media (prefers-reduced-motion) {
		transition: none;
	}
	transform: scale(1);
	&:active {
		transform: scale($amount);
	}
}

@mixin crossBrowser($property, $css) {
	-webkit-#{$property}: $css;
	-moz-#{$property}: $css;
	-o-#{$property}: $css;
	#{$property}: $css;
}

@mixin focusVisibleStyles($outer, $inner) {
	z-index: 99;
	box-shadow: 0 0 0 0.25rem rgba($outer, 0.35), 0 0 0 0.0875rem rgba($inner, 0.75);
}

@mixin focusVisible($outer: $subFont, $inner: $mainFont) {
	&:focus-visible {
		@include focusVisibleStyles($outer, $inner);
	}
}

@mixin focusVisibleFilterStyles($outer: $subFont, $inner: $mainFont) {
	z-index: 99;
	filter: drop-shadow(0 0 0 0.25rem rgba($outer, 0.35), 0 0 0 0.0875rem rgba($inner, 0.75));
}

@mixin focusVisibleFilter($outer: $subFont, $inner: $mainFont) {
	&:focus-visible {
		@include focusVisibleFilterStyles($outer, $inner);
	}
}
