@mixin closeLine($lineWidth) {
	content: "";
	position: absolute;
	left: 25%;
	top: 50%;
	width: $lineWidth;
	height: 0.1rem;
	border-radius: $smBorderRadius;
	background-color: rgba($mainFont, 0.65);
}

@mixin closeBtn($size: 1.5rem, $radius: $smBorderRadius) {
	position: relative;
	border: none;
	border-radius: $radius;
	outline: 0;
	padding: 0;
	height: $size;
	width: $size;
	background: transparent;
	user-select: none;

	&::before {
		@include closeLine(calc(#{$size} / 2));
		transform: rotate(45deg);
	}
	&::after {
		@include closeLine(calc(#{$size} / 2));
		transform: rotate(-45deg);
	}
	&:focus {
		box-shadow: 0 0 0 0.2rem rgba($mainFont, 0.05);
	}
}

.dui__close__btn {
	@include closeBtn();
	&--round {
		@include closeBtn(1.5rem, $circleBorderRadius);
	}
}

@mixin expandLine($lineWidth) {
	content: "";
	position: absolute;
	top: 50%;
	width: $lineWidth;
	height: 0.1rem;
	border-radius: $smBorderRadius;
	background-color: rgbaToRgb(rgba($mainFont, 0.5));
}

@mixin expandIndicator($active: false, $size: 1rem) {
	transition: transform 0.15s ease;
	position: relative;
	width: $size;
	height: $size;
	user-select: none;

	@if ($active) {
		transition: transform 0.15s ease;
		transform: rotateX(180deg);
	}

	&::before {
		@include expandLine(calc(#{$size} / 2));
		left: 10%;
		transform: rotate(45deg);
	}
	&::after {
		@include expandLine(calc(#{$size} / 2));
		left: 40%;
		transform: rotate(-45deg);
	}
}

.dui__expand__indicator {
	@include expandIndicator();
	&--active {
		@include expandIndicator(true);
	}
}
