@mixin portal() {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1050;
	outline: 0;
	overflow: auto;
	overscroll-behavior: contain;
	height: 100vh;
	background-color: transparent;
}

@mixin portalInner() {
	position: relative;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	padding: 0;

	@each $name, $size in $portalSizes {
		&.dui__portal__inner--#{$name} {
			max-width: $size;
		}
	}

	@each $name, $size in $sizes {
		&.dui__portal__inner--safe-#{$name} {
			$safeSize: $size * 2;
			padding: $safeSize 0;
		}
	}

	@each $name, $align in $portalVerticalAlignments {
		&.dui__portal__inner--vertical-#{$name} {
			display: grid;
			height: 100%;
			align-items: $align;
		}
	}
}

.dui__portal {
	@include portal();

	&__inner {
		@include portalInner();
	}

	&--backdrop {
		background-color: rgba($bg, 0.9);
	}
}

@mixin drawerInner() {
	position: absolute;
	margin: 0;
	padding: 0;
	min-width: 0;
	width: 100%;
	height: 100%;
	min-height: 0;
	background-color: $bgCard;
	overflow: auto;
	overscroll-behavior: contain;

	$positionKeys: map-keys($drawerPositions);
	@each $key in $positionKeys {
		$name: map-deep-get($drawerPositions, $key, "name");
		$top: map-deep-get($drawerPositions, $key, "top");
		$left: map-deep-get($drawerPositions, $key, "left");
		$right: map-deep-get($drawerPositions, $key, "right");
		$bottom: map-deep-get($drawerPositions, $key, "bottom");
		&.dui__drawer__inner--position-#{$name} {
			top: $top;
			left: $left;
			bottom: $bottom;
			right: $right;
			@each $sizeName, $size in $drawerSizes {
				&.dui__drawer__inner--#{$sizeName} {
					@if ($name == "left" or $name == "right") {
						max-width: $size;
					} @else {
						max-height: $size;
					}
				}
			}
		}
	}
}

.dui__drawer {
	@include portal();

	&__inner {
		@include drawerInner();
	}

	&--backdrop {
		background-color: rgba($bg, 0.9);
	}
}
