@mixin switchGroupShadow($outerColor: transparent) {
	box-shadow: inset 0 0 0 0.125rem rgba-to-rgb(rgba($subFont, 0.2)), 0 0 0 0.0625rem $outerColor;
}

@mixin switchGroup() {
	position: relative;
	display: inline-flex;
	outline: none;
	overflow: hidden;
	border-radius: $smBorderRadius;
	padding: 0 0.25rem;
	@include switchGroupShadow();
	&:hover {
		@include switchGroupShadow(rgba($subFont, 0.5));
	}
}

@mixin switchGroupIndicator() {
	transition: $fastTrans;
	position: absolute;
	pointer-events: none;
	height: calc(100% - 0.5rem);
	bottom: 0.25rem;
	background: $subFont;
	border-radius: $smBorderRadius / 2;
}

@mixin switchGroupItem() {
	flex: 0 0 auto;
	z-index: 2;
	margin: 0.1875rem 0;
	text-align: center;
	&__input {
		@include crossBrowser(appearance, none);
		position: absolute;
		pointer-events: none;
		opacity: 0;
		&:disabled + .dui__switch__group__item__value {
			opacity: 0.5;
			cursor: not-allowed;
		}
		&:focus-visible + .dui__switch__group__item__value {
			text-decoration: underline;
			* {
				text-decoration: underline;
			}
		}
	}
	&__value {
		position: relative;
		overflow: hidden;
		border-radius: $smBorderRadius / 2;
		padding: calc(#{$mdFont} * 0.25) $mdFont / 1.5;
		font-size: $mdFont;
		line-height: 1.5;
		white-space: nowrap;
		cursor: pointer;
		@include crossBrowser(user-select, none);
	}
	&--active {
		color: $bgCard;
	}
}

@mixin switchGroupPigmentOptions($options: $pigments) {
	$pigmentKeys: map-keys($options);
	@each $key in $pigmentKeys {
		$name: map-deep-get($options, $key, "name");
		$bgColor: map-deep-get($options, $key, "bgColor");
		$fontColor: map-deep-get($options, $key, "fontColor");
		&.dui__switch__group--#{$name} {
			&:hover {
				@include switchGroupShadow(rgba($bgColor, 0.5));
			}

			.dui__switch__group__indicator {
				background-color: $bgColor;
			}
			.dui__switch__group__item {
				&--active {
					color: $fontColor;
				}
			}
			&.dui__switch__group--seamless {
				&:hover {
					box-shadow: none;
				}
			}
		}
	}
}

.dui__switch__group {
	@include switchGroup();
	&__indicator {
		@include switchGroupIndicator();
	}
	&__item {
		@include switchGroupItem();
	}
	@each $name, $size in $sizes {
		&.dui__switch__group--#{$name} {
			font-size: $size;
			.dui__switch__group__item {
				margin: 0.1875em 0;
				&__value {
					padding: calc(#{$size} * 0.25) $size / 1.5;
					font-size: $size;
				}
			}
		}
	}
	@include switchGroupPigmentOptions();
	&--rounded {
		border-radius: $roundedBorderRadius;
		.dui__switch__group__indicator {
			border-radius: $roundedBorderRadius;
		}
		.dui__switch__group__item {
			&__value {
				border-radius: $roundedBorderRadius;
			}
		}
	}
	&--flat {
		border-radius: $flatBorderRadius;
		.dui__switch__group__indicator {
			border-radius: $flatBorderRadius;
		}
		.dui__switch__group__item {
			&__value {
				border-radius: $flatBorderRadius;
			}
		}
	}
	&--wide {
		display: flex;
		width: 100%;
		.dui__switch__group__item {
			flex: 1 0 auto;
		}
	}
	&--seamless {
		border-radius: $flatBorderRadius;
		box-shadow: none;
		padding: 0;
		&:hover {
			box-shadow: none;
		}
		.dui__switch__group__indicator {
			border-radius: $flatBorderRadius;
			height: 0.125em;
			bottom: 0;
		}
		.dui__switch__group__item {
			margin: 0;
			&__value {
				border-radius: $flatBorderRadius;
				padding: calc(#{$mdFont} * 0.4375) $mdFont;
				color: $subFont;
				opacity: 0.5;
			}
			&--active {
				.dui__switch__group__item__value {
					opacity: 1;
					color: $mainFont;
				}
			}
		}
	}
}
