@mixin tableContainer() {
	overflow-x: auto;
	overscroll-behavior-x: contain;
	padding: 0.4375rem 0.625rem;
	&--condensed {
		@include tableElementsStyleReset();
		border-collapse: collapse;
		.dui__table {
			&__head,
			&__foot {
				.dui__table__row {
					.dui__table__header {
						padding: 0.25em 0.3125em;
					}
				}
			}
			&__body {
				.dui__table__row {
					.dui__table__cell {
						padding: 0.25em 0.3125em;
					}
				}
			}
		}
	}
	&--bordered {
		@include tableElementsStyleReset();
		border-collapse: separate;
	}
}

@mixin tableElementsStyleReset() {
	padding: 0;
	.dui__table {
		border-spacing: 0;
		&__body {
			.dui__table__row {
				.dui__table__cell::before {
					display: none;
				}
			}
		}
	}
}

@mixin table() {
	position: relative;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 0.1875rem;
	border: none;
	margin-top: 0;
}

@mixin tableHeader() {
	.dui__table__row {
		.dui__table__header {
			position: relative;
			padding: 0.5em 0.625em;
			white-space: nowrap;
			text-align: left;
			font-size: 0.8em;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.075em;
			user-select: none;
			line-height: 1.5;
		}
	}
}

@mixin tableBody() {
	.dui__table__row {
		&:first-child {
			td {
				&::before {
					display: none;
				}
			}
		}

		.dui__table__cell {
			padding: 0.625em;
			text-align: left;
			white-space: nowrap;
			position: relative;
			line-height: 1.5;

			&::before {
				pointer-events: none;
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 0.0625rem;
				width: 100%;
				transform: translateY(-0.125rem);
			}
		}
	}
}

.dui__table {
	&__container {
		@include tableContainer();
	}
	@include table();
	&__head,
	&__foot {
		@include tableHeader();
	}
	&__body {
		@include tableBody();
	}
}
