@mixin tableContainer() {
	overflow-x: auto;
	overscroll-behavior-x: contain;
	padding: 0.4375rem 0.625rem;
	&--condensed {
		@include tableElementsStyleReset();
		.dui__table {
			&__head,
			&__foot {
				.dui__table__row {
					.dui__table__header {
						padding: 0.25em 0.3125em;
					}
				}
			}
			&__body {
				.dui__table__row {
					.dui__table__cell {
						padding: 0.25em 0.3125em;
					}
				}
			}
		}
	}
	&--bordered {
		@include tableElementsStyleReset();
		.dui__table {
			border: 0.0625rem solid rgba-to-rgb(rgba($mainFont, 0.25));
			.dui__table__cell,
			.dui__table__header {
				border: 0.0625rem solid rgba-to-rgb(rgba($mainFont, 0.25));
			}
		}
	}
}

@mixin tableElementsStyleReset() {
	padding: 0;
	.dui__table {
		border-collapse: collapse;
		border-spacing: 0;
		&__head,
		&__foot {
			.dui__table__row {
				.dui__table__header:first-child,
				.dui__table__header:last-child {
					border-radius: 0;
				}
			}
		}
		&__body {
			.dui__table__row {
				.dui__table__cell:first-child,
				.dui__table__cell:last-child {
					border-radius: 0;
				}
				.dui__table__cell::before {
					display: none;
				}
			}
		}
	}
}

@mixin table() {
	position: relative;
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 0.1875rem;
	border: none;
	margin-top: 0;
}

@mixin tableHeader() {
	.dui__table__row {
		.dui__table__header {
			position: relative;
			padding: 0.5em 0.625em;
			white-space: nowrap;
			text-align: left;
			font-size: 0.8em;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 0.075em;
			user-select: none;
			color: $subFont;
			background-color: darken($bgCard, 5%);
			line-height: 1.5;
			&:hover {
				background-color: darken($bgCard, 7.5%);
			}

			&:first-child {
				border-radius: $smBorderRadius 0 0 $smBorderRadius;
			}

			&:last-child {
				border-radius: 0 $smBorderRadius $smBorderRadius 0;
			}
		}
	}
}

@mixin tableBody() {
	.dui__table__row {
		&:first-child {
			td {
				&::before {
					display: none;
				}
			}
		}

		&:hover {
			.dui__table__cell {
				background-color: rgba-to-rgb(rgba($subFont, 0.1));
			}
		}

		.dui__table__cell {
			background-color: $bgCard;
			padding: 0.625em;
			text-align: left;
			white-space: nowrap;
			position: relative;
			line-height: 1.5;

			&::before {
				pointer-events: none;
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 0.0625rem;
				width: 100%;
				background-color: rgba-to-rgb(rgba($subFont, 0.2));
				transform: translateY(-0.125rem);
			}
			&:first-child {
				border-radius: $smBorderRadius 0 0 $smBorderRadius;
			}
			&:last-child {
				border-radius: 0 $smBorderRadius $smBorderRadius 0;
			}
		}
	}
}

@mixin tablePigmentOptions($options: $pigments) {
	$pigmentKeys: map-keys($options);
	@each $key in $pigmentKeys {
		$name: map-deep-get($options, $key, "name");
		$bgColor: map-deep-get($options, $key, "bgColor");
		$fontColor: map-deep-get($options, $key, "fontColor");
		&.dui__table__container--#{$name} {
			&.dui__table__container--bordered {
				.dui__table {
					border: 0.0625rem solid rgba-to-rgb(rgba($fontColor, 0.25), $bgColor);
					.dui__table__cell,
					.dui__table__header {
						border: 0.0625rem solid rgba-to-rgb(rgba($fontColor, 0.25), $bgColor);
					}
				}
			}
			.dui__table {
				background-color: $bgColor;
				color: $fontColor;
				.dui__table__head,
				.dui__table__foot {
					.dui__table__row {
						.dui__table__header {
							color: $fontColor;
							background-color: darken($bgColor, 5%);
							&:hover {
								background-color: darken($bgColor, 7.5%);
							}
						}
					}
				}
				.dui__table__body {
					.dui__table__row {
						&:hover {
							.dui__table__cell {
								background-color: rgba-to-rgb(rgba($fontColor, 0.1), $bgColor);
							}
						}

						.dui__table__cell {
							background-color: $bgColor;

							&::before {
								background-color: rgba-to-rgb(rgba($fontColor, 0.2), $bgColor);
							}
						}
					}
				}
			}
		}
	}
}

.dui__table {
	&__container {
		@include tableContainer();
		@include tablePigmentOptions();
	}
	@include table();
	@each $name, $size in $sizes {
		&.dui__table--#{$name} {
			font-size: $size;
		}
	}
	&__head,
	&__foot {
		@include tableHeader();
	}
	&__body {
		@include tableBody();
	}

	&--flat {
		.dui__table__head,
		.dui__table__foot {
			.dui__table__row {
				.dui__table__header:first-child,
				.dui__table__header:last-child {
					border-radius: $flatBorderRadius;
				}
			}
		}
		.dui__table__body {
			.dui__table__row {
				.dui__table__cell:first-child,
				.dui__table__cell:last-child {
					border-radius: $flatBorderRadius;
				}
			}
		}
	}
}
