//COLORS
$bg: #fbfbfb;
$cardBg: #fff;

// Accents
$primary: #0f79c1;
$secondary: #61788c;
$success: #00852e;
$warning: #edb90e;
$danger: #df2935;
$info: #53bccc;
$light: #f2f3f3;
$dark: #272932;

// Modern Accents
$mPrimary: #dbebf6;
$mSecondary: #e7ebee;
$mSuccess: #d9ede0;
$mWarning: #fcf5db;
$mDanger: #fadfe1;
$mInfo: #e5f5f7;
$mLight: #fdfdfd;
$mDark: #dfdfe0;

// Font Colors
$lightFont: #fff;
$darkFont: #000;

//SIZING
//default size
$fontSize: 16px;

//font size based on default size
$smFont: 0.8rem;
$mdFont: 1rem;
$lgFont: 1.2rem;
$xlFont: 1.4rem;

//component sizing based on default font size
$sm: $fontSize * 1.9375;
$md: $fontSize * 2.375;
$lg: $fontSize * 3;
$xl: $fontSize * 4;

//SHADOWS

//OTHER
$smBorderRadius: 0.3125rem;
$mdBorderRadius: 0.625rem;
$lgBorderRadius: 1rem;
$xlBorderRadius: 2rem;
$roundBorderRadius: 99rem;
$circleBorderRadius: 50%;

$smShadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
$mdShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
$lgShadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
$xlShadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
