//COLORS
//--Backgrounds
$bg: #fafafa !default;
$bgCard: #fff !default;

//--Accents
$primary: #0f79c1 !default;
$secondary: #61788c !default;
$success: #00852e !default;
$warning: #edb90e !default;
$danger: #df2935 !default;
$info: #53bccc !default;
$light: #f2f3f3 !default;
$dark: #272932 !default;

//--Modern Accents
$modernPrimary: rgba($primary, 0.15) !default;
$modernSecondary: rgba($secondary, 0.15) !default;
$modernSuccess: rgba($success, 0.15) !default;
$modernWarning: rgba($warning, 0.15) !default;
$modernDanger: rgba($danger, 0.15) !default;
$modernInfo: rgba($info, 0.15) !default;
$modernLight: rgba($light, 0.15) !default;
$modernDark: rgba($dark, 0.15) !default;

//--Font Colors
$mainFont: #212121 !default;
$subFont: #4f4f4f !default;
//--------------------------------
$primaryFont: #fff !default;
$secondaryFont: #fff !default;
$successFont: #fff !default;
$warningFont: #000 !default;
$dangerFont: #fff !default;
$infoFont: #000 !default;
$lightFont: #000 !default;
$darkFont: #fff !default;

$fontFamily: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
	"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

//SIZING
//--Global Font size
$fontSize: 16px !default;

//--Font sizes
$smFont: 0.8rem !default;
$mdFont: 1rem !default;
$lgFont: 1.2rem !default;
$xlFont: 1.4rem !default;

//--Component sizes based on Global Font size
$sm: $fontSize * 1.9375 !default;
$md: $fontSize * 2.375 !default;
$lg: $fontSize * 3 !default;
$xl: $fontSize * 4 !default;

//SHADOWS
$smShadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !default;
$mdShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px !default;
$lgShadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !default;
$xlShadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px !default;

//OTHER
$smBorderRadius: 0.3125rem !default;
$mdBorderRadius: 0.625rem !default;
$lgBorderRadius: 1rem !default;
$xlBorderRadius: 2rem !default;
$roundBorderRadius: 99rem !default;
$circleBorderRadius: 50% !default;

//FUNCTIONS
@function rgbaToRgb($rgba, $background: $bgCard) {
	@return mix(rgb(red($rgba), green($rgba), blue($rgba)), $background, alpha($rgba) * 100%);
}

//LOOPS

//--hr styling
$hrPigments: "primary" $primary, "secondary" $secondary, "success" $success, "warning" $warning, "info" $info, "danger" $danger,
	"light" $light, "dark" $dark;

//--Badges
$badgeSizes: "sm" $smFont, "lg" $lgFont, "xl" $xlFont;

$badgePigments: "primary" $primary $primaryFont, "secondary" $secondary $secondaryFont, "success" $success $successFont,
	"warning" $warning $warningFont, "info" $info $infoFont, "danger" $danger $dangerFont, "light" $light $lightFont, "dark" $dark $darkFont;

$badgeModernPigments: "primary" $modernPrimary $primary, "secondary" $modernSecondary $secondary, "success" $modernSuccess $success,
	"warning" $modernWarning $warning, "info" $modernInfo $info, "danger" $modernDanger $danger, "light" $modernLight $light,
	"dark" $modernDark $dark;

//--Buttons
$btnSizes: "sm" $sm $smFont, "lg" $lg $lgFont, "xl" $xl $xlFont;

$btnPigments: "primary" $primary $primaryFont, "secondary" $secondary $secondaryFont, "success" $success $successFont,
	"warning" $warning $warningFont, "info" $info $infoFont, "danger" $danger $dangerFont, "light" $light $lightFont, "dark" $dark $darkFont;

$btnModernPigments: "primary" $modernPrimary $primary, "secondary" $modernSecondary $secondary, "success" $modernSuccess $success,
	"warning" $modernWarning $warning, "info" $modernInfo $info, "danger" $modernDanger $danger, "light" $modernLight $light,
	"dark" $modernDark $dark;

//--Cards
$cardPigments: "primary" $primary $primaryFont, "secondary" $secondary $secondaryFont, "success" $success $successFont,
	"warning" $warning $warningFont, "info" $info $infoFont, "danger" $danger $dangerFont, "light" $light $lightFont, "dark" $dark $darkFont;

$cardModernPigments: "primary" $modernPrimary $primary, "secondary" $modernSecondary $secondary, "success" $modernSuccess $success,
	"warning" $modernWarning $warning, "info" $modernInfo $info, "danger" $modernDanger $danger, "light" $modernLight $light,
	"dark" $modernDark $dark;

//--List Groups
$listPigments: "primary" $primary $primaryFont, "secondary" $secondary $secondaryFont, "success" $success $successFont,
	"warning" $warning $warningFont, "info" $info $infoFont, "danger" $danger $dangerFont, "light" $light $lightFont, "dark" $dark $darkFont;

$listModernPigments: "primary" $modernPrimary $primary, "secondary" $modernSecondary $secondary, "success" $modernSuccess $success,
	"warning" $modernWarning $warning, "info" $modernInfo $info, "danger" $modernDanger $danger, "light" $modernLight $light,
	"dark" $modernDark $dark;

//--Loaders
$loaderSizes: "sm" $sm, "lg" $lg, "xl" $xl;

$loaderPigments: "primary" $primary, "secondary" $secondary, "success" $success, "warning" $warning, "info" $info, "danger" $danger,
	"light" $light, "dark" $dark;

//--Portals
$portalSizes: "xs" 30rem, "sm" 37.5rem, "lg" 56.25rem, "xl" 75rem, "max" unset;

//--Progress
$progressBarLabelPositions: "center" 50% 50% unset translate(-50%, -50%), "sticky" 50% unset 0.3125rem translate(0, -50%),
	"outer" -100% unset 0 translate(50%, -25%);

$progressBarMinifiedLabelPositions: "center" 0 50% unset translate(-50%, -125%), "sticky" 0 unset 0.3125rem translate(0, -125%),
	"outer" 0 unset 0 translate(50%, -125%);

$progressPigments: "primary" $primary $primaryFont, "secondary" $secondary $secondaryFont, "success" $success $successFont,
	"warning" $warning $warningFont, "info" $info $infoFont, "danger" $danger $dangerFont, "light" $light $lightFont, "dark" $dark $darkFont;

$progressModernPigments: "primary" $modernPrimary $primary, "secondary" $modernSecondary $secondary, "success" $modernSuccess $success,
	"warning" $modernWarning $warning, "info" $modernInfo $info, "danger" $modernDanger $danger, "light" $modernLight $light,
	"dark" $modernDark $dark;
