//--Backgrounds
$bg: #f3f3f3;
$bgCard: #fff;

$sidebarBg: $bgCard;
$sidebarMainBg: $bgCard;
$topbarBg: $bgCard;

//--Font Colors
$mainFont: #212121;
$subFont: #4f4f4f;

$sidebarFont: $mainFont;
$sidebarMainFont: $mainFont;
$topbarFont: $mainFont;

$pigments: (
	"none": (
		"name": "none",
		"bgColor": transparent,
		"fontColor": $mainFont,
	),
	"default": (
		"name": "default",
		"bgColor": $bgCard,
		"fontColor": $mainFont,
	),
	"primary": (
		"name": "primary",
		"bgColor": $primaryBg,
		"fontColor": $primaryFont,
	),
	"secondary": (
		"name": "secondary",
		"bgColor": $secondaryBg,
		"fontColor": $secondaryFont,
	),
	"success": (
		"name": "success",
		"bgColor": $successBg,
		"fontColor": $successFont,
	),
	"warning": (
		"name": "warning",
		"bgColor": $warningBg,
		"fontColor": $warningFont,
	),
	"danger": (
		"name": "danger",
		"bgColor": $dangerBg,
		"fontColor": $dangerFont,
	),
	"info": (
		"name": "info",
		"bgColor": $infoBg,
		"fontColor": $infoFont,
	),
);
