//--Backgrounds
$bg: #fafafa;
$bgCard: #fff;

//--Font Colors
$mainFont: #212121;
$subFont: #4f4f4f;

//--Accents
$primaryBg: hsla($primaryBase, 100%, 93.5%, 100%);
$primaryFont: hsla($primaryBase, 60%, 55%, 100%);

$secondaryBg: hsla($secondaryBase, 0%, 90%, 100%);
$secondaryFont: hsla($secondaryBase, 0%, 40%, 100%);

$successBg: hsla($successBase, 70%, 90%, 100%);
$successFont: hsla($successBase, 85%, 30%, 100%);

$warningBg: hsla($warningBase, 100%, 90%, 100%);
$warningFont: hsla($warningBase, 70%, 40%, 100%);

$dangerBg: hsla($dangerBase, 100%, 90%, 100%);
$dangerFont: hsla($dangerBase, 70%, 40%, 100%);

$infoBg: hsla($infoBase, 100%, 90%, 100%);
$infoFont: hsla($infoBase, 70%, 40%, 100%);

$pigments: (
	"primary": (
		"name": "primary",
		"bgColor": $primaryBg,
		"fontColor": $primaryFont,
	),
	"secondary": (
		"name": "secondary",
		"bgColor": $secondaryBg,
		"fontColor": $secondaryFont,
	),
	"success": (
		"name": "success",
		"bgColor": $successBg,
		"fontColor": $successFont,
	),
	"warning": (
		"name": "warning",
		"bgColor": $warningBg,
		"fontColor": $warningFont,
	),
	"danger": (
		"name": "danger",
		"bgColor": $dangerBg,
		"fontColor": $dangerFont,
	),
	"info": (
		"name": "info",
		"bgColor": $infoBg,
		"fontColor": $infoFont,
	),
);
